/* Stile für den Dark Mode */
body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

#event-container {
    background-color: #333;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="number"], button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

#result-text {
    margin-top: 10px;
    font-size: 18px;
}

#total-score {
    margin-top: 20px;
    font-size: 20px;
}

